body {
  margin: 0;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a78adc;
}

.skater-girl {
  position: absolute;
  width: 215px;
  overflow: hidden;
}


